/* Navbar  */
#navbar_container {
  position: relative;
}
.navbar {
  box-shadow:0px 0px 29px -3px black;
  border-radius: 10px;
  position: fixed;
  top: 2%;
  left: 1.5%;
  right: 1.5%;
}

#navbarSupportedContent {
  margin-right: 10%;
}

.clear {
  clear: both; }

.signup {
  color: #222;
  width: 100%;
  height: 100vh;
  position: relative;
  top:3.5rem;
  background-image: url(../images/Enquiry_bg.svg);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
}

.container {
  width: 40%;
  position: relative;
  font-family: 'Poppins', sans-serif;
  margin-top: 4.5rem;
 }

.signup-content {
  background: #28363D;
  position: absolute;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 40px 65px;
  text-align: center;
 }
  
@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
     } }
@media screen and (max-width: 480px) {
  .signup-content {
    padding: 50px 25px; } }

    
/* Navbar  */
.navbar {
  box-shadow: 0px 0px 15px 2px black;
}

#navbarSupportedContent {
  margin-right: 10%;
}


/* Explore Button CSS  */
#explore_button{
  color: rgb(255, 255, 255);
  background-color: #28363D;
  font-weight: 600;
  border-radius: 18px;
  margin-left: 47vw;
  box-shadow: 0px 0px  12px aliceblue;
  padding: 10px 10px;
}
#explore_button:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px  12px rgb(0, 0, 0);
}

#submit_button {
  position: relative;
}