html {
    scroll-behavior: smooth;
  }
  
  body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0%;
  }

#gallery_main{
  margin-top: 10%;
}
  
  
  p{
    margin-bottom: 0;
    padding-bottom: 1rem;
  }
  
  code {
    font-family: "Poppins", sans-serif;
  }

.recent_trips{
  background-color: rgb(213, 213, 213);
}


/* Gallery Page  */
#Frame {
    box-shadow: 0px 0px 10px 1px rgba(0, 24, 33, 0.5);
    border: 8px solid white;
  }
  h1 {
    font-family: 'Kaushan Script', cursive;
  }

  
   @keyframes riseUp {
    from {
      transform: translateY(10%);
    }
  
    to {
      transform: translateY(0%);
    }
  }
   
  /* Apply the animation to the element */
   #parent {
    animation-name: riseUp;
    animation-duration: 2s;
    transform: ease-in-out;
  }

  #youtube{
    background-color: #27374D;
  }

  #youtube_parent{
    width: 60%;
    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: scroll;
    -ms-overflow-style: hidden;
    scrollbar-width: none; */
    /* border: 1px solid gray; */
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    box-shadow: 0px 0px 5px 0px gray;
  }


  #youtube_parent::-webkit-scrollbar{
    display: none;
  }

  #youtubethumbnail{
      opacity: 0.8;
      transition: opacity 0.2s ease-in-out;
      /* scroll-snap-align: start; */
  }
  #youtubethumbnail:hover {
    opacity: 1;
  }
 


  /* Navbar  */
#navbar_container {
    position: relative;
  }
  .navbar {
    box-shadow:0px 0px 40px -6px black;
    position: absolute;
    border-radius: 10px;
    position: fixed;
    top: 1%;
    left: 1.5%;
    right: 1.5%;
  }
  
  #navbarSupportedContent {
    margin-left: auto;
  }


  /*Media Screen*/
  
  @media only screen and (max-width: 650px) {
    #youtube_parent{
      width: 100%;
      display: flex;
      padding:0%;
      border: 0px;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: 0%;
    }
    
    p{
      display: none;
    }
  
    #youtubethumbnail{
      opacity: 1;
    }

    #gallery_main{
      margin-top: 20%;
    }
      
    
  }